configobj
vtk<9.5
mayavi
numpy
pandas
pandas-stubs
pyqt6
matplotlib
pyquaternion
opencv-python-headless
python-pptx
python-json-logger
psycopg2-binary
scipy
scipy-stubs
shapely
gmsh
smbprotocol
psutil
setuptools
scikit-learn
trimesh[easy]
pyglet<2
pywin32; platform_system == "Windows"
tripy
Rtree
networkx
bcrypt
Pillow
pydantic
asyncpg
pyyaml
Faker
