VITE_API_BASE_URL=http://127.0.0.1:8001
VITE_DIE_STL_VISUAL_SURFACE_COLOR=#d7e1ed
VITE_DIE_STL_VISUAL_MESH_LINE_COLOR=#e2e8f0
VITE_DIE_STL_VISUAL_SHARP_EDGE_LINE_COLOR=#334155
VITE_DIE_STL_VISUAL_SHARP_EDGE_ANGLE_DEG=15
