# Core framework
fastapi
uvicorn[standard]

# Database
sqlalchemy
psycopg[binary]
alembic

# Data validation
pydantic
pydantic-settings
email-validator

# Authentication
python-jose[cryptography]==3.3.0
passlib[bcrypt]==1.7.4
bcrypt==4.0.1

# Utilities
python-multipart
markdown
uuid7
python-dotenv
requests
smbprotocol
shapely
PyYAML
types-requests
mypy
types-PyYAML
types-python-jose
types-passlib

# GUI
PySide6
